{% schema %}
  {
    "name": "Banner Images",
    "settings": [
      {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Upload your desktop image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Upload your mobile image"
      },
      {
        "type": "url",
        "id": "desktop_link",
        "label": "Enter your desktop banner link"
      },
      {
        "type": "url",
        "id": "mobile_link",
        "label": "Enter your mobile banner link"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "label": "Image overlay opacity",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 50,
        "unit": "%"
      }
    ]
  }
{% endschema %}

{% if section.settings.desktop_image != blank %}
<div class="desktop-banner">
  <a href="{{ section.settings.desktop_link }}">
    <img src="{{ section.settings.desktop_image | img_url: 'master' }}" alt="Desktop banner image">
  </a>
</div>
{% endif %}
{% if section.settings.mobile_image != blank %}
<div class="mobile-banner">
  <a href="{{ section.settings.mobile_link }}">
    <img src="{{ section.settings.mobile_image | img_url: 'master' }}" alt="Mobile banner image">
  </a>
</div>
{% endif %}

<style>
  /* This is the desktop version */
  .desktop-banner {
    display: block;
    text-align: center; /* center the image if it's smaller than the container */
  }
  .desktop-banner img {
    max-width: 1200px; /* adjust to your needs */
  }
  /* This is the mobile version */
  .mobile-banner {
    display: none;
    text-align: center; /* center the image if it's smaller than the container */
  }
  .mobile-banner img {
    max-width: 100%; /* adjust to your needs */
  }

  /* This is a CSS media query for screen sizes 768px and below, typically sizes for tablets and smartphones */
  @media only screen and (max-width: 768px) {
    .desktop-banner {
      display: none;
    }
    .mobile-banner {
      display: block;
    }
  }
</style>
