html{
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.col {
  flex: 1;
}

.wrapper .col {
  width: 32%;
}

.letterlist {
  text-align: center; 
  font-size: 25px; 
  font-weight: bold; 
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 70%;
    max-height: 80vh;
    overflow-y: auto;
    text-align: center;
}