html{
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.col {
  flex: 1;
}

.wrapper .col {
  width: 32%;
}

.letterlist {
  text-align: center; 
  font-size: 25px; 
  font-weight: bold; 
}

a[data-hs-anchor="true"] {   
   display: block; 
   position: relative; 
   visibility: hidden; 
   top: -200px;  
  }