<head>
  {{ 'custom-blog-layout.css' | asset_url | stylesheet_tag }}
</head>

<body>
  <div class="custom-article-layout">
    <div class="article-content">
      {{ article.content }}
    </div>
    <aside class="recent-posts-sidebar">
      <h3>Recent Posts</h3>
      <ul>
        {% for article in blogs[blog.handle].articles limit:5 %}
          <li><a href="{{ article.url }}">{{ article.title }}</a></li>
        {% endfor %}
      </ul>
    </aside>
  </div>
</body>