{% assign firstchar = link.title | slice: 0, 1 %}

<ul>
{% for link in linklists.brands.links %}
  <li>
  {% if firstchar contains "A" %}
    <a href="{{ link.url }}">{{ link.title }}</a>
  {% endif %}
  </li>
{% endfor %}
</ul>