{% assign firstchar = link.title | slice: 0 %}

<ul>
{% for link in linklists.brands.links %}
  {% if firstchar contains "A" %}
    <li>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
  {% endif %}
{% endfor %}
</ul>